# R session and history
.Rhistory
.RData
.Ruserdata

# RStudio project files
.Rproj.user

# Temporários e logs
*.log
*.tmp

# Dados gerados/exportados pelo app
*.xlsx
*.csv

# Shiny deployment logs
rsconnect/

# Output de relatórios ou plots
*.html
*.pdf

# Pastas temporárias
tmp/

